.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  gap: 32px;
  padding: 32px;

  div {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid lightGray;

    img {
      width: 400px;
    }
  }
}
